<launch>
  <arg name="/use_sim_time" value="true"/>
  <node name="global_path_planning" pkg="global_path_planning" type="global_path_planning_" output="screen"/>

  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find map_pub)/map/5G.yaml"/>
  <node name="map_pub_cyclic" pkg="map_pub" type="map_pub" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_pub)/rviz/map.rviz" />
</launch>


